<!DOCTYPE html>
<html>
<head>
  <title>Ridetime</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js', 
                               'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.4/jquery-ui.min.js',
                               'http://js.pusherapp.com/1.6/pusher.min.js' %>
  <%= javascript_include_tag "application" %>
  
  <script type="text/javascript">
    var pusher_key = "<%= Pusher.key %>";
    var pusher_channel = "ridetime-<%= Rails.env %>";
  </script>
  
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
